@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --darkblue-color:#1E40AF;
    --lightblue-color:
    #DBEAFE;
    --off-white:#F3F4F6;
}
body{
    font-family:'Lobster', cursive;;
    margin: 0;
    padding: 0;
}

.container-center{
    max-width: 400px;
    margin: 0 auto;
}
.container{
    max-width: 400px;
    margin: 0 auto;
}
.list-no-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
}
.link{
    text-decoration: none;
}
/* header start */
.header{
    max-width: 300px;
    margin: 0 auto;
    height: 10vh;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
.header h1 {
    position: relative;
    top:-12px;
    left: 0px;
    color: #4185D1;
    font-size: 2rem;
    padding-top: 1.2rem;
  }
/* header end */
 

/* section start */

textarea{
    width: 315px;
    height: 21vh;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    border:2px solid var(--black);
    border-radius: 20px;
    box-shadow: 3px 3px var(--gray-shadow-color);
    background-color: var(--light-yellow);
    margin: 1rem auto;
}
button{
    display: block;
    margin:1rem auto;
    border-radius:20px;
    border: 1px solid var(--dark-yellow);
    box-shadow: 1px 1px var(--dark-yellow);
    padding:0.5rem 1rem;
    background-color: var(--light-yellow);
    font-weight: bold;
}
p{
    margin:1rem auto;
    color: var(--gray-shadow-color);
    text-align: center;
}
#text-output{
    width: 280px;
    height: 10vh;
    border: 2px solid var(--black);
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--light-yellow);
    box-shadow: 3px 3px var(--gray-shadow-color);
    overflow: auto;
    margin: 1rem auto;
}

/* section end */

/* footer */
footer{
    background-color:blue;
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-top: 4rem;
}
footer li{
    padding: 0rem 1rem;   
}
footer li a{
    color:white;
    font-size: 1.5rem;
}
ul{
    padding-inline-start: 0px;

}

