@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --darkblue-color:#1E40AF;
    --lightblue-color:
    #DBEAFE;
    --off-white:#F3F4F6;
    --donald-blue-color:#4185D1;
}
body{
    font-family:'Lobster', cursive;;
    margin: 0;
    padding: 0;
}

.container-center{
    max-width: 400px;
    margin: 0 auto;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 6rem;
}
.list-no-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
}
.link{
    text-decoration: none;
}
/* header start */
.header{
    max-width: 300px;
    margin: 0 auto;
    height: 10vh;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
.header h1 {
    position: relative;
    top:-12px;
    left: 0px;
    color:var(--donald-blue-color);
    font-size: 2rem;
    padding-top: 1.2rem;
  }
/* header end */
 

/* section start */
textarea{
    width: 315px;
    height: 21vh;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0pc 0px 3px 3px #93C5FD;
    background-color: var(--lightblue-color);
    margin: 1rem auto;
    outline: none;
    border: none;
}
button{
    display: block;
    margin:1.5rem auto;
    border: 1px solid var(--lightblue-color);
    box-shadow: 0px 0px 1px 2px #60A5FA;
    padding:0.5rem 1rem;
    border-radius: 20px;
    background-color: #60A5FA;
    font-weight: bold;
    color: white;
    outline:none
}
button:focus {
    background-color: var(--donald-blue-color);
  }

p{
    margin:0rem auto;
    margin-bottom: 1.5rem;
    color: var(--donald-blue-color);
    text-align: center;
}
#text-output{
    width: 280px;
    height: 10vh;
    
    padding: 1rem;
    background-color: var(--lightblue-color);
    box-shadow: 0px 0px 3px 3px #93C5FD;
    overflow: auto;
    margin: 1rem auto;
}

/* section end */

/* footer */
footer{
    background-color:var(--donald-blue-color);
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-top: 4rem;
    color: var(--off-white);
}

footer p{
    color: var(--off-white);
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}
footer li{
    padding: 0rem 1rem;   
}
footer li a{
    color:var(--off-white);
    font-size: 1.5rem;
}
ul{
    padding-inline-start: 0px;

}

